/* 
    Document   : setup.css
    Created on : Dec 17, 2010, 11:12:02 AM
    Author     : dcramer
    Description:
        Purpose of the stylesheet follows.
*/


/* Navigations */
.tools_widgets {
	list-style:none;
	margin:0;
	padding: 0;
	position:relative;
}
.tools_widgets .root_item{
	display:inline;
	float: left;
        margin-bottom: 0;
}
.tools_widgets li {
	margins:0;
	padding:0;
	position:relative
}
.tools_widget ul{
	margin:0;
	padding:0;
}
.tools_widgets li a.parent {
	color: #333;
	line-height:34px;
	padding:0 20px;
	text-shadow:0 1px 0 #FFF;
}
.tools_widgets a {
	display:block;
	margin:0;
	padding:8px 18px 8px 10px;
	color:#FFF;
	text-shadow:0 1px 0 #000;
	text-decoration:none;
	cursor: pointer;
}
.tools_widgets a:hover {
	color:#fff;
	background:#222;
}
.tools_widgets ul {
	list-style:none;
	position:absolute;
	display:none;
	top:34px;
	margin:0;
	padding:0;
	background:#58585a;
	width:200px;
	z-index:60;
	font-size:11px
}
.tools_widgets ul li {
	margin: 0;
}
.tools_widgets ul a {
    color: #fff;
}
.tools_widgets li:hover > a {
	color:#fff;
}
.tools_widgets li:hover > a.parent {
	background-color:#ef4036;
	text-shadow:0 1px 0 #333333;
}
.tools_widgets li:hover > a.child {
	background-color:#000;
	text-shadow:0 1px 0 #333333;
}
.tools_widgets ul ul {
	left:100%;
	top:0px;
}
.tools_widgets ul li:hover > a {

	color:#fff
}
.tools_widgets li:hover ul ul, .tools_widgets li:hover ul ul ul, .tools_widgets li:hover ul ul ul ul {
	display:none
}
.tools_widgets li:hover ul, .tools_widgets li li:hover ul, .tools_widgets li li li:hover ul, .tools_widgets li li li li:hover ul {
	display:block
}

.tools_widgets .title h2{
	font-size:12px !important;
        font-weight: bold;
        font-family: Arial,Helvetica,sans-serif;
        font-style: normal;
	background-color:#ef4036;
	color:#fff;
	padding:0px 5px 0px 28px !important;
	margin:0 !important;
	text-shadow:0 1px 0 #333333;
        line-height: 32px;
}
.dbtoolkit li{
    margin-bottom: 10px;
}
.dbtoolkit p{
    margin:0 2px 0 !important;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 11px;
}
.dbtoolkit a.rsswidget{
    text-decoration: none;
}
.dbtoolkit .rsswidget{
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 13px;
    line-height: 1.7em;
}
.dbtoolkit .rss-date{
    color: #666;
    margin-left: 3px;
    font-size: 11px;
}

.ui-tabs-panel textarea{
	width:95%;
}


#admin_toolbarcontrol{
	position:absolute;

}
.admin_elementtoolbar{
	background-color:#fff;
}
admin_elementtoolbar a{
	display:block;
}
#admin_toolbar{
	z-index:999;
	position:absolute;
	background-color:#efebde;
	border:1px solid #333333;
	padding:0;
	margin:0;
	line-height:normal;
	font-family: "lucida grande", "lucida sans unicode", tahoma, verdana, arial, sans-serif;
	font-size: 10pt;
	width:182px;
}
#pbenv_editMenu{
	padding:5px;
}
.admin_menutitle{
	background-color:#333333;
	padding:5px;
	color:#fff;
}
#admintoolbar_handle{
	cursor:move;
	background-color:#333333;
	padding:5px;
	color:#fff;
}
#admintoolbar_handle a{
	color:#fff;
}
#admintoolbar_handle a:hover{
	color:#fff;
}
/* kill defaults */
.admin_toolbar p, .admin_toolbar ul, .admin_toolbar li, .admin_toolbar div, .admin_toolbar a{
	text-align:left;
	background-color:none;
	margin:0;
	padding:0;
}
.admin_toolbar{
	display:block;
	background-color:#efebde;
	font-family: "lucida grande", "lucida sans unicode", tahoma, verdana, arial, sans-serif;
	font-size: 10pt;
}
.admin_toolbar .boxtitle{
	color:#333333;
	font-family: "lucida grande", "lucida sans unicode", tahoma, verdana, arial, sans-serif;
	font-size: 18pt;
	border-bottom:1px solid #dadada;
	padding:5px;
	font-style:italic;
}
#toolbar a:link, #toolbar a:visited, #toolbar td a:link, #toolbar tr a:visited,
.admin_toolbar a:link, .admin_toolbar a:visited{
	color:#990000;
}
#toolbar a:hover, #toolbar a:active, #toolbar td a:hover, #toolbar tr a:active,
admin_toolbar td a:hover, admin_toolbar tr a:active{
	color:#CC0000;
}
.admin_list_row1{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #ccc;
	color:#000000;
	text-align:left;
	padding:2px;
}
.admin_list_row2{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #ccc;
	color:#000000;
	text-align:left;
	padding:2px;
}
.admin_list_row3{
	background:#f5f5f5 url(images/adminpanel.gif) top left repeat-x;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-bottom:5px;
}
.list_row3{
	margin-bottom:10px;
}
.admin_list_row3 sh3{
	font-size:12px;
	background: #dbdada url(images/h3bg.gif) top left repeat-x;
	padding:3px;
	border-bottom:1px solid #ccc;
}
.admin_list_row3 .admin_list_row3 sh3{
	background: url(images/h3bg2.gif) top left repeat-x;
}
.admin_list_row3 .admin_list_row3 .admin_list_row3 sh3{
	background: url(images/h3bg3.gif) top left repeat-x;
}
.admin_config_panel_hidden{
	background-color:#e6e6e6;
	padding:6px;
}
.admin_config_panel{
	padding:6px;
	border-top:1px solid #ccc;
}
.admin_config_toolbar{
        border-top:1px solid #ccc;
	padding:6px;
        background-color: #ededed;
}
.admin_config_panel .admin_config_panel{
	background-color:#edf1e8;
}
.admin_config_panel .admin_config_panel .admin_config_panel .admin_config_panel{
	background-color:#f5e7e7;
}
.admin_list_row3 input{
	font-size:10px;
}
.columnSorter{
	background-color:#fefefe;
}
.admin_list_row1:hover, .admin_list_row2:hover, .admin_list_row3:hover, .admin_list_row3:hover{

}
.error{
	background:#ffe0e0 url(images/delete.png) left center no-repeat;
	padding-left:20px;
	margin:2px 0;
	border-bottom:1px solid #ffc1c1;
	border-top:1px solid #ffc1c1;
}
.notice{
	background:#FFFFCC url(images/exclamation.png) left center no-repeat;
	padding-left:20px;
	margin:2px 0;
	border-bottom:1px solid #FFCC66;
	border-top:1px solid #FFCC66;
}
.warning{
	background:#ffe0e0 url(images/error.png) left center no-repeat;
	padding-left:20px;
	margin:2px 0;
	border-bottom:1px solid #ffc1c1;
	border-top:1px solid #ffc1c1;
}
.loading{
	background:#efefef url(images/indicator.gif) left center no-repeat;
	padding-left:20px;
	margin:2px 0;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
.success{
	background:#d0e6c1 url(images/accept.png) left center no-repeat;
	padding-left:20px;
	margin:2px 0;
	border-bottom:1px solid #77b64e;
	border-top:1px solid #77b64e;

}
.captions{
	font-family: "lucida grande", "lucida sans unicode", tahoma, verdana, arial, sans-serif;
	font-size: 6pt;
}
.highlight{
}

blockquote{
	margin:0 0 0 10px;
	padding:5px;
	border-left:5px solid #bb0000;
	border-bottom:1px solid #bb0000;
	background-color:#fff;
}
blockquote:hover{
	background-color:#fff;
}
.boxbody .boxtitle{
	padding:1px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#900;
}
blockquote .boxtitle{
	padding:3;
	margin:0 0 10px 0 !important;
	font-family:Arial, Helvetica, sans-serif;
	color:#333 !important;
}
.boxbody .sectionbreak{
	padding:8px 3px !important;
	background-color:#999;
}

    .column {
        width: 170px;
        float: left;
        padding-bottom: 100px;
    }
    .formportlet, .viewportlet {
        margin: 3px;
        background-color: #fff;
    }
    .formportlet-header, .viewportlet-header {
        margin: 0.3em;
        padding: 5px;
        padding-left: 0.2em;
    }
    .formportlet-header .ui-icon, .viewportlet-header .ui-icon {
        float: right;
    }
    .formportlet-content, .viewportlet-content {
        padding: 0.4em;
    }
    .ui-sortable-placeholder {
        border: 1px dotted black;
        visibility: visible !important;
        height: 50px !important;
    }
    .ui-sortable-placeholder * {
        visibility: hidden;
    }



/*

.dbtools_tabs > ul {

    padding: 0;
    margin: 0;
    border: 0;
    background: none;

    margin-left: 10px;
    position: relative;
    top: 1px;
    z-index: 100;
}
.dbtools_tabs > ul li {
    float: left;
    list-style: none outside none;
    margin-bottom: 0;
}
.dbtools_tabs > ul a {
    -moz-border-radius: 3px 3px 0 0;
    background-color: #F1F1F1;
    border: 1px solid #DFDFDF;
    color: #999999;
    cursor: pointer;
    display: block;
    height: 18px;
    margin: 5px 5px 0 0;
    padding: 4px 5px 2px;
    text-decoration: none;
}
.dbtools_tabs ul a:hover {
}
.dbtools_tabs ul .ui-tabs-selected a {
    background-color: #FFFFFF;
    border-bottom: 0 none;
    color: #333333;
    cursor: default;
    padding-bottom: 3px;
}
.dbtools_tabs > div {
    clear: left;
    padding: 10px;
}

.setupTab{
    -moz-border-radius: 6px 6px 0 0;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDFDF;
    border-collapse: separate;
    padding-bottom: 15px;
}
.setupTab textarea{
    width:98%;
}

.admin_config_toolbar, .admin_config_panel{
    padding: 4px;
}

*/
.ui-tabs-nav.ui-widget-header{
    background-color: #dedede !important;
}
.ui-widget-content a{
    color: #21759B;
}
.ui-widget-content a:hover{
    color: #D54E21;
}